*{
	margin: 0;
	padding: 0;
}

body{
	background: #f9e933;
	/* font-family: 'Denk One', sans-serif; */
	font-size: 100%;
}

h1, h2, h3, h4{
	font-family: 'Ubuntu', sans-serif;
}

h1{
	font-size: xx-large;
	font-style: italic;
	color: #ba0000;
}

h2{
	font-size: x-large;
	color: black;
	margin-bottom: 10px;
}

h3{
	font-size: 1.1em;
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
}

h5{
	font-size: 1.1em;
	margin-bottom: 10px;
}

a{
	text-decoration: none;
}

a, .amaze{
	color: red;
}

a:hover{
	text-decoration: underline;
}

header, main, footer{
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background: white;
	overflow: auto;
}

main{
	background: white;
	overflow: auto;
}

header .blocGauche, main .blocGauche{
	float: left;
	width: 570px;
}

header .blocDroit, main .blocDroit{
	float: right;
	width: 285px;
}

footer .contact{
	float: left;
	width: 570px;
}

footer .sitemap{
	float: right;
	width: 285px;
}

footer .blocGauche{
	float: left;
	width: 50%;
}

footer .blocDroit{
	float: right;
	width: 50%;
}